.sidebar{
    position: absolute;
    left: 0;
    background-color: #1f2f3a;
    height: 100%;
    width: 200px;
    top: 0;
   z-index: 3;
}

nav{
   justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;

}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
   
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    background-color: #f3e8dc;
    align-items: center;
}
h1 {
    text-align: center;
}

input[type="text"] {
    width: 300px;
    padding: 5px;
}

li{
    display: inline;
    padding-top: 30px ;
    padding-bottom: 30px;
    background: linear-gradient(to right, #192630 50%,#1f2f3a 50%) right ;
    background-size: 200% 100%;
    font-weight: bold;
}

li:hover, a:hover{
   
    background-position: left;
    cursor: pointer;
    transition: all 0.3s ease;
}


.icons i{
    padding-top: 20px;
    color: white;
    margin: 20px;

}


i{
    cursor: pointer;
    font-size: xx-large;

}

.icons{
    text-align: end;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.closed{
    transform: translateX(-200px);
    transition: all 0.7s ease;
}

.opened{
    transition: all 0.7s ease;
    transform: translateX(0px);
}

hr{
    width: 98%;
    margin: 0 auto;
    border-color: black;
    opacity: 0.2;
}


#plus {
    font-size: medium;
    padding-right: 6px;
}


a{
    text-decoration: none;
    color: white;
    width: 100%;
    
}


.banner-topo {
    background-color:#1f2f3a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 0 20px;
}

body{
    margin: 0;
    padding: 0;
}

.banner-imagem{
    
    max-height: 60px; 
    width: auto; 
    margin-left: auto; 
    padding-right: 20px;
    
}

#menu{
    margin-left: 20px;
}

#openMenu{

    padding-left: 10px;
}

input::placeholder{
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.linhapreta{

    background-color:  rgba(0, 0, 0, 0.596);
    height: 2px;

 }



 .box {
    background-color: #ffffff; 
    width: 1350px; 
    padding: 20px; 
    margin: 15px auto; 
    border-radius: 8px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    position: relative;
    z-index: 2;
}

.box label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
}

.box input {
    width: 99%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

#seta {
    position: absolute;
    top: 18px;
    right: 18px;
    background-color: #1f2f3a;
    color: white;
    font-size: large;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
}

#seta i{
    font-size: 20px;
}

Input{
    flex: 1; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    outline: none;
    margin-top: 10px;
}

Input:focus {
    animation: preencher-outline 1s forwards; 
}


@keyframes preencher-outline {
    0% {
        border-color: transparent;
    }
    100% {
        border-color: black; 
    }
}



/*Botões com animação*/
.confirmar {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #43777a; 
    color: white;
    font-weight: bold;
}

.confirmar:hover {
    background-color: #306164;
}

.cancelar {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(143, 143, 143);    
    color: white;
    font-weight: bold;
}

.cancelar:hover {
    background-color: rgb(114, 113, 113);
}

.confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.confirmation-modal.show {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    background: white;
    padding-top: 70px;
    width: 320px;
    height: 100px;
    border-radius: 10px;
    font-size: 18px;
    color: #43777a;
    font-weight: bold;
    text-align: center;
}

.error-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.error-modal.show {
    visibility: visible;
    opacity: 1;
}

.banner-topo {
    background-color: #1f2f3a;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: 55px;
    padding: 0 20px;
    gap: 10px;              
    text-align: center;
}




.banner-imagem {
    max-height: 60px;
    width: auto;
}

.banner-topo h2 {
    font-size: calc(1.5vw + 10px); 
    letter-spacing: calc(0.5vw);  
    margin: 0;
    white-space: nowrap;        
    flex: 1;                     
}

@media (max-width: 768px) {
    .banner-topo {
        flex-direction: column;
        height: auto;          
        padding: 10px;
    }

    .banner-topo h2 {
        font-size: calc(2vw + 8px);
        letter-spacing: 5px; 
    }

    .banner-imagem {
        margin-top: 10px;
    }
}
